@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --family: 'Instrument Sans', sans-serif;
  --fs-sm: 20px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-pm: 48px;
  --fw-regular: 100;
  --black: #030303;
  --white: #ffffff;
  --red: #ff3131;
  --text-grey: #cacaca;
  --bg-grey: #f6f6f6;
  --border-grey: #e6e6e6;
  --bg-slot-booked: #ebecff;
  --bg-slot-selected: #b3b7ff;
}

body {
  font-family: var(--family);
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: var(--fw-regular);
  background: var(--white);
}
