@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --family: 'Instrument Sans', sans-serif;
  --fs-sm: 20px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-pm: 48px;
  --fw-regular: 100;
  --text-black: #3B4045;
  --text-red: #FF0000;
  --text-grey: lightgrey;
  --bg-white: white;
  --bg-smoke: whitesmoke;
}

body {
  font-family: var(--family);
  font-size: var(--fs-sm);
  color: var(--text-black);
  font-weight: var(--fw-regular);
  background: var(--bg-white);
}
