@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --family: 'Instrument Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 24px;
  --fw-regular: 400;
  --fw-medium: 500;
  /* Colors */
  --text-black: #3B4045;
  --text-red: red;
  --bg-white: white;
  --bg-smoke: whitesmoke;
}

body {
  font-family: var(--family);
  color: var(--text-black);
  font-weight: var(--fw-regular);
  background-color: var(--bg-white);
}
